@model WhatStore.Domain.Infrastructure.ViewModels.Admin.RegisterProductCategoryViewModel
@{
    Layout = "_Admin";
}

<title>Cadastrar Categorias</title>

<form class="form-group margin-top-20 " method="post">
    <div class="form-group float-left margin-left-40"  >
        <label>Categoria dos produtos</label>
        <input class="form-control" name="CategoryProduct" id="Category"  value="@Model.ProductCategory"/>
        <button class="btn-primary btn margin-top-10" type="submit">Salvar</button>
    </div>
</form>
<table class="table margin-left-40 form-group" id="CategoryTable">
    <tr>
        <th class="tableRow">Categoria</th>
        <th class="tableRow">Opções</th>
    </tr>

    @*@foreach (var category in Model.Categorys)
            {

            <tr>
                <td class="tableRow">@category.CategoryName/td>
                <td class="tableRow">
                    <form class="form-group" asp-controller="" asp-action="" method="post">
                        <input name="categoryID" hidden value="@category.Id" />
                        <button type="submit" class="btn btn-primary"></button>
                    </form>
                </td>
            </tr>

        }*@
</table>

