@model WhatStore.Domain.Infrastructure.ViewModels.Admin.RegisterProductCategoryViewModel
@{
    Layout = "_Admin";
}

<title>Cadastrar Categorias</title>

<form class="form-group margin-top-20 " method="post" asp-controller="admin" asp-action="category">
    <div class="form-group float-left margin-left-40">
        <label>Categoria dos produtos</label>

        <div class="float-left">
            <input class="form-control" asp-for="CategoryName" id="Category" value="@Model.CategoryName" />
        </div>
        <div class="float-left margin-left-20" style="margin-top:-5px">
            <button class="btn-primary btn margin-top-10 float-left" type="submit" asp-controller="admin" asp-action="register/category">Inserir</button>
        </div>
    </div>
</form>
<table class="table margin-left-40 form-group" id="CategoryTable">
    <tr>
        <th class="tableRow">Categoria</th>
    </tr>

    @foreach (var category in Model.Categories)
            {

        <tr>
            <td class="tableRow">
                <form style="margin-bottom:-15px" class="form-group" asp-controller="admin" asp-action="update/category" method="post">
                    <input name="categoryID" hidden value="@category.Id" />
                    <input class="form-group custom-input-table" value="@category.CategoryName" asp-for="CategoryName"/>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </td>
        </tr>

    }
</table>

