@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Admin";
}

<form>

    <div>
        <label>Sobre o responsavel: </label><textarea> </textarea>
    </div>

    <div>
        <label>Nome: </label>
        <input />
    </div>

    <div>
        <label> Sobrenome: </label>
        <input />
    </div>

    <div>
        <label>CPF: </label>
        <input />
    </div>

    <div>
        <label>RG: </label>
        <input />
    </div>

    <div>
        <label>Data Nascimento: </label>
        <input />
    </div>
    
    <div>
        <label>Genero: </label>
        <input />
    </div>

    <div>
        <label>Telefone: </label>
        <input />
    </div>
    
    <div>
        <h3>Endereço: </h3>
        <label>CEP: </label>
        <input />
    </div>

    <div>
        <label>Logradouro: </label>
        <input />
    </div>
    
    <div>
        <label>Endereço: </label>
        <input />
    </div>

    <div>
        <label>Numero: </label>
        <input />
    </div>

    <div>
        <label>Bairro: </label>
        <input />
    </div>

    <div>
        <label>Complemento: </label>
        <input />
    </div>

    <div>
        <label>Cidade: </label>
        <input />
    </div>

    <div>
        <label>Estado</label>
        <input />
    </div>

</form>

