@{
    Layout = "_Admin";
}
<title>Financeiro - WhatStore</title>
<div class="admin-settings-content">
    <h3>Dados financeiros</h3>

    <form class="form-group margin-top-20">

        <div class="form-group">
            <label>Sobre o responsavel: </label>
            <textarea class="form-control" rows="10" style="resize: none;"> </textarea>
        </div>
        <div class="form-group">
            <div class="float-left">
                <label>Nome: </label>
                <input class="form-control" style="width:300px" required />
            </div>

            <div class="float-right">
                <label> Sobrenome: </label>
                <input class="form-control" style="width:300px" required />
            </div>
        </div>

        <div class="form-group">
            <div class="float-left">
                <label>CPF: </label>
                <input type="text" class="form-control" style="width:300px" required />
            </div>

            <div class="float-right">
                <label>RG: </label>
                <input type="text" class="form-control" style="width:300px" required />
            </div>
        </div>

        <div class="form-group">
            <div class="float-left">
                <label>Data Nascimento: </label>
                <input type="date" class="form-control" style="width: 160px" required />
            </div>

            <div class="float-left margin-left-40">
                <label>Genero: </label>
                <select class="form-control" style="width:150px;">
                    <option value="0">Masculino</option>
                    <option value="1">Feminino</option>
                </select>
            </div>

            <div class="float-right">
                <div class="float-left margin-right-10">
                    <label>DDD: </label>
                    <input type="text" class="form-control" style="width:50px" maxlength="2" required />
                </div>

                <div class="float-left">
                    <label>Telefone: </label>
                    <input type="text" class="form-control" style="width:150px" required />
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <h4>Pessoa Juridica?</h4>
            <div class="onoffswitch margin-right-10">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="checkPessoaJuridica">
                <label class="onoffswitch-label" for="checkPessoaJuridica">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
        </div>

        <div id="PJ" class="form-group" style="display: none;">
            
            <div class="form-group">
                <div class="float-left">
                    <label>CNPJ: </label>
                    <input class="form-control" style="width:200px;" />
                </div>

                <div class="float-right">
                    <label>Razão social: </label>
                    <input class="form-control" style="width:800px;"/>
                </div>
            </div>

            <div class="form-group">
                <div class="float-left">
                    <label>Incrição estadual: </label>
                    <input class="form-control" style="width: 600px;"/>
                </div>


                <div class="float-right">
                    <label>Inscrição municipal: </label>
                    <input class="form-control" style="width: 600px;"/>
                </div>
            </div>
        </div>

        <hr />
        <div class="form-group">
            <h4>Endereço: </h4>
            <div class="float-left">
                <label>CEP: </label>
                <input class="form-control" style="width: 100px;" required />
            </div>

            <div class="float-left margin-left-50">
                <label>Estado:</label>
                <select class="form-control" style="width: 200px;"></select>
            </div>


            <div class="float-right">
                <label>Cidade: </label>                
                <select class="form-control" style="width: 200px;"></select>
            </div>

        </div>

        <div class="form-group">

            <div class="float-left">
                <label>Bairro: </label>
                <input class="form-control " style="width:200px;" required />
            </div>

            <div class="float-right">
                <div class="float-left margin-left-20">
                    <label>Endereço: </label>
                    <input class="form-control " style="width:270px;" required />
                </div>

                <div class="float-left margin-left-10">
                    <label>Número: </label>
                    <input class="form-control " style="width: 80px;" required />
                </div>
            </div>

        </div>

        <div class="form-group">
            <label>Complemento:*</label>
            <input class="form-control" />
        </div>

        <div class="form-group">
            <button class="btn btn-primary margin-top-10 float-right" style="height: 40px;" type="submit">Enviar</button>
        </div>

    </form>
</div>
@section Scripts{
    <script type="text/javascript">
        $("#checkPessoaJuridica").on("change", function () {

            if ($(this).is(":checked")) {

                $("#PJ").css("display", "block");
            }

            else {
                $("#PJ").css("display", "none")

            }
        });


    </script>
}