@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Admin";
}
<title>Cadastro de Produto - WhatStore</title>

<form class="admin-settings-content row">

    <div class="row margin-top-10 font-size13">
        <label>Nome do produto: </label>
        <input type="text" class="form-control" />
    </div>
    <div class="row margin-top-10 font-size13">
        <label>Descrição: </label>
        <textarea class="form-control" rows="5" style="resize: none"></textarea>
    </div>
    <div class="row margin-top-10 font-size13">
        <label>Preço: </label>
        <input type="text" class="form-control" value="R$" />
    </div>
    <div class="row margin-top-10 font-size13">
        <label>Foto: </label>
        <input type="image" />
    </div>
    <div class="row margin-top-10 font-size13">
        <div class="onoffswitch margin-right-10">
            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
            <label class="onoffswitch-label" for="myonoffswitch">
                <span class="onoffswitch-inner"></span>
                <span class="onoffswitch-switch"></span>
            </label>
        </div>
        <label>Variação: </label>
        <input list=variacao>
        <select id=variacao>
            <option> Cor</option>
            <option> Tamanho</option>
        </select>
    </div>

    <div class="row margin-top-10 font-size13 ">
        <button type="submit" style="height: 40px" class="btn btn-primary margin-bottom-20 row">Registrar</button>
    </div>
</form>

