@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Admin";
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Cadastro de Produto - WhatStore</title>
</head>
<body>
   <form id="formRegister" class="float-center margin-top-20">

        <div class="row margin-top-10 font-size13">
            <label>Titulo: </label>
            <input type="text" class="form-control" />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Descrição: </label>
            <input type="text" class="form-control" />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Preço: </label>
            <input type="number" class="form-control" />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Foto: </label>
            <input type="image" />
        </div>
        <div class="row margin-top-10 font-size13">
            <div class="onoffswitch margin-right-10">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <label>Variação: </label>
                    <input list=variacao>
                    <select id=variacao>
                        <option> Cor</option>
                        <option> Tamanho</option>
                    </select>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>

        </div>

        <div class="row margin-top-10 font-size13 ">
            <button type="submit" style="height: 40px" class="btn btn-primary margin-bottom-20 row">Registrar</button>
        </div>
    </form>
</body>
</html>
