@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Admin";
}
<title>Cadastro de Produtos - WhatStore</title>

<div class="admin-settings-content">

    <h3>Cadastro de Produtos</h3>

    <form class="form-group">

        <div class="form-group">
            <label>Nome do produto: </label>
            <input type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label>Descrição: </label>
            <textarea class="form-control" rows="5" style="resize: none"></textarea>
        </div>
        <div class="form-group">
            <label>Preço: </label>
            <input type="text" class="form-control" value="R$" />
        </div>
        <hr />

        <div class="form-group">
            <label>Foto: </label>
            <input type="image" />
        </div>
        <hr />
        <div class="form-group">
            <h3>Variações</h3>
            <div class="onoffswitch margin-right-10">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
                <label class="onoffswitch-label" for="myonoffswitch">
                    <span class="onoffswitch-inner"></span>
                    <span class="onoffswitch-switch"></span>
                </label>
            </div>
            <div style="visibility:hidden">
                <input list=variacao>
                <select id=variacao>
                    <option> Cor</option>
                    <option> Tamanho</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" style="height: 40px" class="btn btn-primary margin-bottom-20 row">Registrar</button>
        </div>
    </form>
</div>
<script>
    $("#myonoffswitch").on("change", function () {
        if ($(this).is(":checked")) {
            $(variacao).css("display", block);

        } else {
            $(variacao).hide();

        }
    });
</script>
