@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{Layout = null;}
    <html>
    <head>


    </head>


    <body>
     <form class="form-group" asp-controler="store" asp-action="storeType" method="post">
         <div class="form-group">
             <label>Tipo de loja: </label>
             <input name="storeType"/>
         </div>

     </form>


    </body>

</html>

