@model WhatStore.Domain.Infrastructure.ViewModels.Admin.RegisterSubCategoryViewModel
@{ 
    Layout = "_Admin";
}

<title>Cadastrar Subcategorias</title>


    <form class="form-group margin-top-20" asp-controller="admin" asp-action="subcategory" method="post">
        <div class="form-group float-left margin-left-40 ">

            <label>Categoria</label>
            <select name="Category" id="dropCategory" type="text" class="form-control" >
                <option value="-1">Selecione a categoria</option>
            </select>

            <label class="margin-top-10">Subcategoria:</label>
            <input value="" class="form-control float-left" name="SubcategoryProduct" id="Subcategory" />
            <button class="btn btn-primary margin-top-10  float-left" type="submit">Enviar</button>
        </div>
    </form>

    <table class="table margin-left-40 form-group" id="SubcategoryTable">
        <tr>
            <th class="tableRow">Subcategoria</th>
            <th class="tableRow">Opções</th>
        </tr>
    </table>


