@model WhatStore.Domain.Infrastructure.ViewModels.Admin.RegisterProductCategoryViewModel
@{
    Layout = "_Admin";
}

<title>Cadastrar Subcategorias</title>


<form class="form-group margin-top-20" asp-controller="admin" asp-action="subcategory" method="post">
    <div class="form-group float-left margin-left-40 ">

        <label>Categoria</label>
        <select name="CategoryId" type="text" class="form-control dropCategories" value="@Model.Category">
            <option value="-1">Selecione a categoria</option>
            @if (Model.Categories != null && Model.Categories.Count > 0)
            {
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.CategoryName</option>
                }
            }
        </select>

        <label class="margin-top-10">Subcategoria:</label>
        <input class="form-control float-left" name="SubCategoryName" id="Subcategory" value="@Model.SubCategoryName" />
        <button class="btn btn-primary margin-top-10  float-left" type="submit" asp-controller="admin" asp-action="register/subcategory">Enviar</button>
    </div>
</form>

<div id="tableContainer">

</div>


@section Scripts{
    <script type="text/javascript">
        $('.dropCategories').on("change", function () {
            var button = $(this);
            var id = button.val();
            $.ajax({
                url: '/admin/category/' + id + '/subcategories',
                type: 'get',
                dataType: 'json',

                success: function (data) {

                    var table = '<table class="table margin-left-40 form-group" id="SubcategoryTable"><tr><th class="tableRow">Subcategoria</th></tr>';

                    $.each(data, function (i, item) {
                        console.log(item)
                        table += ('<tr>')
                        table += ('<td class="tableRow">')
                        table += ('<form asp-controller="admin" action="update/subcategory" method="post">')
                        table += ('<input name="subcategoryID" hidden value="' + item.id + '"/>')
                        table += ('<input class="custom-input-table" value="' + item.subCategoryName + '" name="SubCategoryName"/>')
                        table += ('<button type="submit" class="btn btn-primary">Salvar</button>')
                        table += ('</form>')
                        table += ('</td>')
                        table += ('</tr>')
                    });

                    table += '</table>';
                    $("#tableContainer").html(table);
                 
                },
                error: function (x, y, message) {
                    alert("ERROOOU  " + message);
                },
            });
        });






    </script>
}
