body {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #f8f8f8;
}

html {
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    background-color: #f8f8f8;
}

a {
    cursor: pointer;
}

/* TITLES */

h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto",Fallback,sans-serif;
    font-weight: 100;
    color: #868585 !important;
}


/* END TITLES */

.index-header {
    background: url('../images/backgrounds/background-3.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    color: #fff !important;
    position: relative;
}

    .index-header h1, index-header h2, index-header h3, index-header h4, index-header h5, index-header h6 {
        color: #fff !important;
    }

.index-header-content {
    position: absolute;
}

    .index-header-content h1, index-header-content h2, index-header-content h3, index-header-content h4, index-header-content h5, index-header-content h6 {
        color: #fff !important;
    }

.navbar {
    height: 45px;
    background: #F8F8F8;
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;
}

.logo-navbar {
    width: 114px;
    height: 30px;
    background-image: url(../images/logos/logo-04.png);
    background-size: cover;
    cursor: pointer;
}

    .logo-navbar:hover {
        opacity: 0.7;
    }

.logo-login {
    width: 114px;
    height: 30px;
    background-image: url(../images/logos/logo-04.png);
    background-size: cover;
    cursor: pointer;
}

.logo-register {
    width: 114px;
    height: 30px;
    background-image: url(../images/logos/logo-04.png);
    background-size: cover;
    cursor: pointer;
}

.photo-segment-content {
    height: 100px;
    width: 100px;
    border-radius: 100%;
}

.photo-segment {
    height: 100%;
    width: 100%;
    border-radius: 100%;
}

.btn {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 10px;
    padding-right: 10px;
    text-decoration: none;
    border: 0.5px solid;
    border-radius: 5px;
    font-family: 'Lucida Sans';
    color: #000000;
    background: #E6E9E7;
    cursor: pointer;
}

.btn-primary {
    border: #02B6E6;
    background: #02B6E6;
    color: #ffffff;
}

    .btn-primary:hover {
        background: #00a3cf;
    }


.btn-secondary {
    border: #cccccc;
    background: #cccccc;
    color: #ffffff;
}


    .btn-secondary:hover {
        background: #c3c3c3;
    }


.btn-search {
    height: 50px;
    width: 50px;
    border-radius: 30px 30px;
    margin-left: -39px;
    border: 1px solid #02B6E6;
}

.btn-login-store {
    border-radius: 5px;
    padding: 2px 10px 2px 10px;
    text-decoration: none !important;
}

.btn-shop {
    position: absolute;
    margin-top: -52px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #fff;
    background-color: #00a3cf;
    border-radius: 50%;
    font-size: 12px;
}


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.formLogin {
    width: 300px;
    min-height: 200px;
    height: auto;
    margin: auto;
    background-color: #FFFFFF;
    border: 0.5px solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 20px;
    color: #868585;
    font-family: 'Lucida Sans', serif;
    font-size: 12px;
}

.formRegister {
    width: 400px;
    min-height: 550px;
}


.formRegisterUser {
    position: relative;
    margin: 0 auto;
    margin-top: 200px;
}

.formRegisterUserStore {
    width: 400px;
    min-height: 840px;
    height: auto;
    margin: auto;
    background-color: #FFFFFF;
    border: 0.5px solid;
    border-color: #FFFFFF;
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
    border-radius: 5px;
    padding: 20px;
    color: #868585;
    font-family: 'Lucida Sans', serif;
    font-size: 12px;
}

.div-management {
    width: 400px;
    min-height: 100px;
}

.links {
    text-decoration: none !important;
    color: #c1326e !important;
    font-family: 'Lucida Sans', serif;
    font-size: 12px;
}

.row {
    width: 100% !important;
    height: auto !important;
    margin-right: 0px;
    margin-left: 0px;
}

/*Colors*/
.color-grey {
    color: #969090 !important;
}

.color-blue {
    color: #02B6E6 !important;
}

.color-pink {
    color: #C1326E !important;
}
/*EndColors*/


/*Font*/

.font-size13 {
    font-size: 13px;
}


.font-size20 {
    font-size: 20px !important;
}

.font-primary {
    font-family: 'Lucida Sans';
}

/*EndFont*/

/*Float*/
.float-right {
    float: right !important;
}

.float-left {
    float: left !important;
}

.float-center {
    margin: 0 auto;
}
/*EndFloat*/

/*Margins*/
.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

.margin-left-50 {
    margin-left: 50px !important;
}

.margin-left-75 {
    margin-left: 75px !important;
}

.margin-left-100 {
    margin-left: 100px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-30 {
    margin-right: 30px !important;
}

.margin-right-40 {
    margin-right: 40px !important;
}

.margin-right-50 {
    margin-right: 50px !important;
}

.margin-right-75 {
    margin-right: 75px !important;
}

.margin-right-100 {
    margin-right: 100px !important;
}

.margin-left-10 {
    margin-left: 10px;
}

.margin-left-20 {
    margin-left: 20px;
}

.margin-left-30 {
    margin-left: 30px;
}

.margin-left-40 {
    margin-left: 40px;
}

.margin-left-50 {
    margin-left: 50px;
}

.margin-left-75 {
    margin-left: 75px;
}

.margin-left-100 {
    margin-left: 100px;
}

.margin-right-10 {
    margin-right: 10px;
}

.margin-right-20 {
    margin-right: 20px;
}

.margin-right-30 {
    margin-right: 30px;
}

.margin-right-40 {
    margin-right: 40px;
}

.margin-right-50 {
    margin-right: 50px;
}

.margin-right-75 {
    margin-right: 75px;
}

.margin-right-100 {
    margin-right: 100px;
}


.margin-top-10 {
    margin-top: 10px;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-75 {
    margin-top: 75px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-75 {
    margin-bottom: 75px !important;
}

.margin-bottom-100 {
    margin-bottom: 100px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

.margin-top-50 {
    margin-top: 50px !important;
}

.margin-top-75 {
    margin-top: 75px !important;
}

.margin-top-100 {
    margin-top: 100px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-bottom-75 {
    margin-bottom: 75px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}
/*EndMargins*/

/* HOVERS */

.hover-from-center {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

    .hover-from-center:before {
        background: #ff408d !important;
        height: 2px !important;
    }

    .hover-from-center:before {
        content: "";
        position: absolute;
        z-index: -1;
        left: 50%;
        right: 50%;
        bottom: 0;
        background: #2098d1;
        height: 4px;
        transition-property: left,right;
        transition-duration: .3s;
        transition-timing-function: ease-out;
    }

    .hover-from-center:active:before, .hover-from-center:focus:before, .hover-from-center:hover:before {
        left: 0;
        right: 0;
    }

.hover-sweep-to-right {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    transition-property: color;
    transition-duration: .3s;
    border-radius: 5px;
}

    .hover-sweep-to-right:before {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: #02B6E6;
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        -ms-transform-origin: 0 50%;
        transform-origin: 0 50%;
        transition-property: transform;
        transition-duration: .3s;
        transition-timing-function: ease-out;
        border-radius: 5px;
    }

    .hover-sweep-to-right:active, .hover-sweep-to-right:focus, .hover-sweep-to-right:hover {
        color: #fff;
        border-radius: 5px;
    }

        .hover-sweep-to-right:active:before, .hover-sweep-to-right:focus:before, .hover-sweep-to-right:hover:before {
            -ms-transform: scaleX(1);
            transform: scaleX(1);
            border-radius: 5px;
        }

.hover-sweep-to-left {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    transition-property: color;
    transition-duration: .3s;
}

/* END HOVERS */



/* FORM CONTROL */

.form-control {
    display: block;
    min-width: 100%;
    height: 44px;
    padding: 12px 14px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #868585;
    vertical-align: middle;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s .3s ease-in-out;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s .3s ease-in-out;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s .3s ease-in-out;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s .3s ease-in-out;
    -ms-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s .3s ease-in-out;
    -webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -moz-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    outline: none !important;
}

    .form-control:focus {
        border-color: #C1326E;
        outline: 0;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
        -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,0.6);
        outline: none !important;
    }

    .form-control:-moz-placeholder {
        color: #c4c4c4;
    }

    .form-control::-moz-placeholder {
        color: #c4c4c4;
        opacity: 1;
    }

    .form-control:-ms-input-placeholder {
        color: #c4c4c4;
    }

    .form-control::-webkit-input-placeholder {
        color: #c4c4c4;
    }

    .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
        cursor: not-allowed;
        background-color: #f8f8f8;
    }

.form-inline .form-control, .form-group .form-control:first-child {
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}




textarea.form-control {
    height: auto;
}

label {
    font-size: 13px !important;
    font-weight: 500 !important;
    width: 100% !important;
    white-space: nowrap !important;
    font-family: sans-serif;
    color: #868585;
}

.form-group {
    margin-bottom: 15px;
    overflow: hidden;
}

.form-inline {
    display: inline-flex !important;
    margin-bottom: 15px;
}

    .form-inline .form-control {
        display: table-cell;
    }

@media(min-width: 768px) {
    .form-inline .form-group {
        display: inline-block;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .form-inline .form-control {
        display: inline-block;
    }

    .form-inline select.form-control {
        width: auto;
    }

    .form-inline .radio, .form-inline .checkbox {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
    }

        .form-inline .radio input[type="radio"], .form-inline .checkbox input[type="checkbox"] {
            float: none;
            margin-left: 0;
        }
}

.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 13px;
}

.form-horizontal .radio, .form-horizontal .checkbox {
    min-height: 31px;
}

.form-horizontal .form-group {
    margin-left: -6.5px;
    margin-right: -6.5px;
}

    .form-horizontal .form-group:before, .form-horizontal .form-group:after {
        content: " ";
        display: table;
    }

    .form-horizontal .form-group:after {
        clear: both;
    }

    .form-horizontal .form-group:before, .form-horizontal .form-group:after {
        content: " ";
        display: table;
    }

    .form-horizontal .form-group:after {
        clear: both;
    }

.form-horizontal .form-control-static {
    padding-top: 13px;
}

@media(min-width: 768px) {
    .form-horizontal .control-label {
        text-align: right;
    }
}


/* END FORM CONTROL */


.background-pattern {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: transparent url(/images/patterns/background-pattern.png) repeat;
    opacity: 0.6;
    z-index: 0;
}

.arrow-up {
    width: 400px;
    height: 222px;
    background: url(../images/general/arrow-up.png);
    background-size: cover;
    position: absolute;
    z-index: 0;
    right: 80px;
    top: 30px;
}


/*Switch*/
.onoffswitch {
    position: relative;
    width: 70px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid #999999;
    border-radius: 23px;
}

.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
        float: left;
        width: 50%;
        height: 27px;
        padding: 0;
        line-height: 27px;
        font-size: 14px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        box-sizing: border-box;
    }

    .onoffswitch-inner:before {
        content: "Sim";
        padding-left: 10px;
        background-color: #02B6E6;
        color: #FFFFFF;
    }

    .onoffswitch-inner:after {
        content: "Não";
        padding-right: 10px;
        background-color: #E6E9E7;
        color: #858383;
        text-align: right;
    }

.onoffswitch-switch {
    display: block;
    width: 10px;
    height: 10px;
    margin: 8.5px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 39px;
    border: 1px solid #999999;
    border-radius: 23px;
    transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}
/*END Switch*/

.index-content {
    width: 1000px;
    height: auto;
    min-height: 100px;
    margin: 0 auto;
    overflow: initial;
}

    .index-content label {
        font-family: 'Lucida Sans';
        color: #969090;
        margin: 0 auto;
        font-size: 17px;
        text-align: center !important;
        width: 100% !important;
        margin-top: 10px;
        float: left;
        white-space: normal !important;
    }

    .index-content h1, .index-content h2, .index-content h3, .index-content h4, .index-content h5, .index-content h6 {
        color: #868585 !important;
    }

.side-bar {
    width: 20%;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    padding-top: 80px;
    -webkit-box-shadow: 3px 4px 20px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 20px -11px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 20px -11px rgba(0,0,0,0.75);
}

.admin-navbar {
    -webkit-box-shadow: 0px 1px 6px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 6px -3px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 6px -3px rgba(0,0,0,0.75);
}


.navbar-store-top ul {
    list-style: none;
}

    .navbar-store-top ul li {
        float: right;
        margin-right: 20px;
    }

.store-navbar {
    height: 100px;
    background: #f8f8f8;
    padding-top: 20px;
    padding-right: 20px;
    box-shadow: 3px 4px 20px -11px rgba(0,0,0,0.75);
}

.div-input-search {
    width: 500px;
    position: relative;
    margin: 0 auto;
}

.input-search {
    width: 500px;
    border-radius: 10px 25px 25px 10px;
    height: 40px;
    border: 1px solid #02B6E6;
    max-width: 450px;
    margin-top: 10px;
    padding: 10px;
}

.product-shop {
    margin-right: 15%;
    margin-top: -60px;
    height: auto;
    width: 100px;
    float: right;
    color: white !important;
    text-align: center;
    margin-right: 18%;
}

.navbar-store {
    height: 25px;
    width: 100%;
    background: #fff;
    padding-right: 20px;
    padding-top: 2px;
    color: black;
}

.store-content {
    width: 100%;
    overflow: hidden;
    margin-top: 25px;
}

.admin-content {
    width: 80%;
    height: auto;
    min-height: 300px;
    float: right;
    overflow: hidden;
    margin-top: 80px;
}

.product-content {
    width: 80%;
    height: auto;
    min-height: 300px;
    float: right;
    overflow: hidden;
    margin-top: 20px;
}

.product-settings-content {
    width: auto;
    margin-right: 20px;
    height: auto;
    min-height: 200px;
    float: left;
    margin-left: 20px;
}

.side-bar ul {
    list-style-type: none;
}

    .side-bar ul li {
        height: 35px;
    }

        .side-bar ul li a {
            text-decoration: none;
            color: #939393;
            cursor: pointer;
        }

            .side-bar ul li a:hover {
                color: #c1326e;
            }

.admin-settings-content {
    width: 600px;
    max-width: 600px;
    height: auto;
    min-height: 200px;
    overflow: hidden;
    float: left;
    margin-left: 100px;
}

    .admin-settings-content label {
        color: #c1326e !important;
    }

    .admin-settings-content h1, .admin-settings-content h2, .admin-settings-content h3, .admin-settings-content h4,
    .admin-settings-content h5, .admin-settings-content h6 {
        color: #15c6c6 !important;
    }


.input-group-addon {
    width: 100%;
    padding: 15px 14px;
    font-size: 13px;
    font-weight: normal;
    line-height: 1;
    color: #726f6f;
    text-align: center;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 4px;
}

hr {
    border-top: 1px solid #ddd;
    height: 2px;
    width: 100%;
}


.inputfile + label:hover {
    background: #868585;
    color: #fff !important;
}

.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 30%;
}

.tableRow {
    border: 1px solid #dddddd;
    text-align: left;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.product-display-content {
    width: 250px;
    height: 250px;
    min-height: 190px;
    float: left;
    background: #fff;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid #E6E9E7;
    margin-bottom: 20px;
    position: relative;
    padding: 10px;
}

.product-display-image {
    width: 100%;
    height: 200px;
    background: #ddd;
}

.product-display-label {
    width: 100% !important;
    height: 200px !important;
    background: #ddd;
    text-align: center;
    padding: 62px;
}

.product-display-content label {
    color: #868585 !important;
    font-weight: 500 !important;
    font-size: 15px;
    text-align: left;
    width: 100%;
    bottom: 0;
    position: absolute;
}

.font-bold {
    font-weight: bold;
}

.logo-display-content {
    width: 250px;
    height: 200px;
    min-height: 190px;
    float: left;
    background: #fff;
    border-radius: 3px;
    margin-right: 10px;
    border: 1px solid #E6E9E7;
    margin-bottom: 5px;
    position: relative;
    padding: 10px;
}

.content-logo {
    margin-left: 10%;
    margin-top: -10px;
    width: auto;
    height: 83px;
}


.logo-display-image {
    width: 100%;
    height: 100%;
    background: #ddd;
    margin-bottom: 5px;
}

.logo-display-lable {
    width: 100%;
    height: 100%;
    background: #ddd;
    margin-bottom: 5px;
    text-align: center;
    padding: 60px;
    font-size: 20px !important;
    color: #868585 !important;
}

.admin-settings-content-large {
    width: 800px;
    max-width: 800px;
    height: auto;
    min-height: 200px;
    overflow: hidden;
    float: left;
    margin-left: 100px;
}

.custom-file-input::-webkit-file-upload-button {
    visibility: hidden;
}

.custom-file-input::before {
    content: 'Selecione arquivo';
    display: inline-block;
    border: 1px solid #999999;
    border-radius: 5px;
    padding: 5px 8px;
    white-space: nowrap;
    -webkit-user-select: none;
    background: #E6E9E7;
    cursor: pointer;
    font-weight: 700;
    font-size: 10pt;
    color: #c1326e;
    margin-bottom: 20px;
}

.custom-file-input:hover::before {
    border-color: #969090;
    background: #aaa4a4;
    color: #fff;
}

.custom-file-input:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
    color: #c1326e;
}

.custom-bottom-delete {
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
    border-radius: 100px;
    width: 20px;
    height: 20px;
    font-size: 12px;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    background: #02B6E6;
    color: white;
    margin-top: -20px;
    margin-right: -20px;
}

    .custom-bottom-delete:hover {
        background: #fff;
        color: #02b6e6;
    }

.custom-input-table {
    background-color: transparent;
    text-align: center;
    height: 20px;
    font-size: 13pt;
    height: 30px;
    border: transparent;
}

#carrinho a {
    font-size: 30pt;
    text-decoration: none;
}

.shop:hover span {
    background-color: #337ab7;
}

.side-bar-store {
    width: 20%;
    height: 100%;
    background-color: #FFFFFF;
    position: fixed;
    left: 0;
    padding-top: 80px;
    -webkit-box-shadow: 3px 4px 20px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 4px 20px -11px rgba(0,0,0,0.75);
    box-shadow: 3px 4px 20px -11px rgba(0,0,0,0.75);
}

    .side-bar-store ul {
        margin: 0;
        list-style: none;
        width: 150px;
    }


        .side-bar-store ul li {
            position: relative;
        }

            .side-bar-store ul li:hover > ul {
                display: block;
                position: relative;
            }


            .side-bar-store ul li a {
                letter-spacing: 1px;
                display: inline-block;
                color: #868585;
                text-decoration: none;
                padding: 5px 10px;
                font-family: sans-serif;
            }

    .side-bar-store li a:hover {
        color: #c1326e;
        text-shadow: 0px 0px 5px #fff;
    }

    .side-bar-store ul ul {
        margin: 0;
        position: absolute;
        left: 0;
        background-color: transparent;
        display: none;
    }


        .side-bar-store ul ul li {
            display: block;
        }

        .side-bar-store ul ul a {
            display: block;
            font-style: normal;
        }

.product-display-content-store {
    width: 250px !important;
    margin-bottom: 5px !important;
}

    .product-display-content-store h4{
        font-weight:300 !important;
        text-align: center;
        font-family: 'Cantarell', sans-serif;
    }

    .product-display-content-store h5 {
        text-align: center;
        font-family: 'Cantarell', sans-serif;
        font-weight:300 !important;
        color: #423d3d !important;
    }

.product-settings-content a:hover {
    text-decoration: none;
}
