*.suo
*.dll
*.pdb
WhatStore/src/WhatStore.Domain/Infrastructure/Repository/Interfaces/IProductRepository.cs
*.cs
WhatStore/src/WhatStore.Domain/Infrastructure/Repository/StoreRepository.cs
*.config
WhatStore/src/WhatStore.Domain/Infrastructure/Models/Store/Store.cs