@model WhatStore.Domain.Infrastructure.ViewModels.Admin.EditProductViewModel

@{
    Layout = "_Admin";
}
<title>Produtos - WhatStore</title>

<div class="admin-settings-content">
    <form class="form-group margin-top-20" asp-controller=" " asp-action=" " method="post">
        @foreach (var product in Model.Products)
        {
            <div value="@product.Id">@product.Name</div>
        }
    </form>
</div>