@model WhatStore.Domain.Infrastructure.ViewModels.Admin.ProductViewModel

@{
    Layout = "_Admin";
}
<title>Produtos - WhatStore</title>

<div class="admin-settings-content-large">
    <form asp-controller="product" asp-action="information" method="post">
        @foreach (var product in Model.Products)
        {
            <a href="@Url.Action($"edit/", "product", new { id = product.Id})">

                <div class="product-display-content">

                    <div class="product-display-image">

                    </div>

                    <label >@product.Name</label>
                </div>
            </a>
        }
    </form>
</div>