@model List<WhatStore.Domain.Infrastructure.ViewModels.Admin.ProductViewModel>

@{
    Layout = "_Admin";
}
<title>Produtos - WhatStore</title>

<div class="admin-settings-content-large">
    <form asp-controller="product" asp-action="information" method="post">
        @foreach (var product in Model)
        {
            <a href="@Url.Action($"edit/", "product", new { id = product.Id})">

                <div class="product-display-content">

                    @if (!string.IsNullOrEmpty(product.Pictures))
                    {

                        <img src="@product.Pictures" class="product-display-image" />
                    }
                    else
                    {
                        <h4 class="product-display-label">SEM FOTO</h4>
                    }

                    <label>@product.Name</label>
                </div>
            </a>
        }
    </form>
</div>