<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/font-awesome.css"/>

</head>
<body>
    <div class="navbar admin-navbar">
        <div class="logo-navbar float-left margin-left-30"></div>
    </div>
    <div class="side-bar">
        <ul>
            <li>
                <a asp-controller="admin" asp-action="product"><span class="fa fa-shopping-basket"></span> Cadastro de produtos</a>
            </li>
            
            <li>
                <a asp-controller="admin" asp-action="information"><span class="fa fa-edit"></span> Dados da loja</a>
            </li>

            <li>
                <a asp-controller="admin" asp-action="financial"><span class="fa fa-credit-card"></span> Dados financeiros</a>
            </li>
            <li>
                <a asp-controller="admin" asp-action="open"><span class="fa fa-unlock"></span> Abrir loja</a>
            </li>
        </ul>
    </div>
    <div class="admin-content">
        @RenderBody()
    </div>

    <environment names="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.6/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("scripts", required: false)
</body>

</html>

