<!DOCUMENT html>
    <html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </head>


    <body>


        <div class="store-navbar">
           <a asp-controller="home" asp-for="" class="links margin-right-30 margin-top-20 float-right">< Voltar para a loja</a>

            <img class="float-left content-logo" src="@ViewBag.Logo" />

            
        </div>

        <div class="store-content">
           
            @RenderBody()
        </div>

    </body>
</html>




