<!DOCUMENT html>
    <html>
    <head>
            <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
            <link rel="stylesheet" href="~/css/site.css" />
            <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
            <link rel="stylesheet" href="~/css/font-awesome.css" />
        </head>
    <body>
        <div class="navbar admin-navbar"></div>

    </body>

</html>
