<!DOCUMENT html>
    <html>
    <head>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/font-awesome.css" />
    </head>


    <body>
        <div style="height: 120px;">
            <div class="navbar-store">
                <ul style="line-height: normal; list-style: none;">
                    <li class="float-right">
                        <a class="links hover-from-center">Login</a>
                    </li>
                   
                    <li class="float-right" style="margin-right:20px;" >
                        <a class="links hover-from-center" >Cadastrar</a>
                    </li>
                </ul>
               

            </div>
            <div class="div-input-search">
                <input type="text" class="input-search" />
            </div>
        </div>


        <div class="store-content">
            <h1>@ViewBag.StoreName</h1>
            @RenderBody()
        </div>

    </body>

</html>




