@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}
    <div class="margin-top-100 formLogin div-management">
        <label>Termo de uso</label>
    </div>
    <form class="formLogin div-management margin-top-10">
        <label>Cadastre seus primeiro produto</label>
    </form>
    <div class="margin-top-10 formLogin div-management">
        <label>Dados da loja</label>
    </div>
    <div class="margin-top-10 formLogin div-management">
        <label>Dados financeiros</label>
    </div>
    <div class="margin-top-10 formLogin div-management">
        <label>Abrir loja</label>
    </div>
</div>