@{
    Layout = "_Layout";
}

<body>
    <form class="form-group margin-top-75">
        
            <div class="form-group float-left">

                <label >Tipo de loja: </label>
                <input class="form-control float-left" name="type" />
                <button class="btn btn-primary margin-top-10  float-left" type="submit">Enviar</button>
            
            </div>

           
       
    </form>


</body>



