@model WhatStore.Infrastructure.ViewModels.Store.RegisterStoreTypeViewModel
    Layout = "_Layout";
}

<body>
<<<<<<< HEAD:WhatStore/src/WhatStore/Views/Store/Type.cshtml
    <form class="form-group margin-top-75" asp-controller="store" asp-action="register/type" method="post">
        
            <div class="form-group float-left">

                <label >Tipo de loja: </label>
                <input value="@Model.StoreType" class="form-control float-left" name="StoreType" id="Type"/>
                <button class="btn btn-primary margin-top-10  float-left" type="submit" onclick="novaLinha()">Enviar</button>
            
            </div>      
=======
    <form class="form-group margin-top-75" asp-controller="store" asp-action="type" method="post">

        <div class="form-group float-left">

            <label>Tipo de loja: </label>
            <input class="form-control float-left" name="type" id="Type" />
            <button class="btn btn-primary margin-top-10  float-left" type="submit" onclick="novaLinha()">Enviar</button>

        </div>
>>>>>>> origin/1.0:WhatStore/src/WhatStore/Views/Store/RegisterType.cshtml
    </form>

    <table class="table" id="TypeTable">
        <tr>
            <th class="tableRow">tipo de loja</th>
            <th class="tableRow">Opções</th>
        </tr>

    </table>

</body>



@section Scripts{
    <script type="text/javascript">
        var i = 0;
        function deleteRow(i) {
            document.getElementById('TypeTable').deleteRow(i)
        }

        function novaLinha() {
            i++;
            if (!Model.StoreType.isEmpyt()) {

                for (var types in Model.StoreType) {

<<<<<<< HEAD:WhatStore/src/WhatStore/Views/Store/Type.cshtml
            var insere = "<tr><td class= 'tableRow' > "+ Type.name0 +"</td>"
                          + "<td class= 'tableRow ' id='tabela_linha_'><input type='button' class='btn btn-primary'"
                          +"value='remover' onClick=\"javascript:deleteRow('tabela_linha_" + i + "')\"></input></td></tr>";
=======
                    var insere = "<tr><td class= 'tableRow' > " + types + "</td>"
                                  + "<td class= 'tableRow ' id='tabela_linha_'><input type='button' class='btn btn-primary'"
                                  + "value='remover' onClick=\"javascript:deleteRow('tabela_linha_" + i + "')\"></input></td></tr>";
>>>>>>> origin/1.0:WhatStore/src/WhatStore/Views/Store/RegisterType.cshtml

                    document.getElementById("TypeTable").innerHTML += insere;
                }
            }
            else {
                return null;

            }
        }
    </script>
}