@model WhatStore.Infrastructure.ViewModels.Store.RegisterStoreTypeViewModel
    Layout = "_Layout";
}

<body>

    <form class="form-group margin-top-75" asp-controller="store" asp-action="register/type" method="post">

        <div class="form-group float-left">

            <label>Tipo de loja: </label>
            <input value="@Model.StoreType" class="form-control float-left" name="StoreType" id="Type" />
            <button class="btn btn-primary margin-top-10  float-left" type="submit">Enviar</button>

        </div>

    </form>


    <table class="table" id="TypeTable">
        <tr>
            <th class="tableRow">tipo de loja</th>
            <th class="tableRow">Opções</th>
        </tr>

        @foreach (var type in Model.StoreTypes)
        {
            <tr>
                <td value="@type.Id">@type.Name</td>
            </tr>
        }

    </table>

</body>



@section Scripts{
<script type="text/javascript">
    var i = 0;
    function deleteRow(i) {
        document.getElementById('TypeTable').deleteRow(i)
    }

</script>
}