@{
    Layout = null;
}

<html>
<head>
    <title>Página inicial</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
    <div>
    </div>
    <div class="navbar">
        <div class="logo-navbar float-left"></div>
        <div class="float-right">
            <a asp-controller="account" asp-action="login" class="btn-primary btn float-left margin-right-10">Login</a>
            <a asp-controller="account" asp-action="register" class="btn btn-secondary float-left">Cadastrar</a>
        </div>
    </div>
</body>
</html>

