@{
    Layout = null;
}

<html>
<head>
    <title>Página inicial</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="logo-navbar float-left margin-left-30"></div>
        <div class="float-right margin-right-20">
            <a asp-controller="account" asp-action="login" class="btn-primary btn float-left margin-right-10">Login</a>
            <a asp-controller="account" asp-action="register" class="btn btn-secondary float-left hover-sweep-to-right">Cadastrar</a>
        </div>
    </div>
    <div class="index-header">
        <div class="background-pattern"></div>
        <div class="arrow-up"></div>
        <div class="index-header-content">
            <div class="margin-left-100" style="margin-top: 200px;">
                <h1 style="font-size:50px !important">Crie sua loja virtual grátis.</h1>
                <h3 style="margin-top:-25px">Não perca tempo! Simples e rápido. É só clicar em cadastrar</h3>
            </div>
        </div>
    </div>
    <div class="index-content font-primary margin-top-40">
        <h1 class="color-pink">É realmente simples. Com apenas alguns passos sua loja estará disponível</h1>
        <div class="color-grey">
            <h2>1° -  Já sabe o que vai vender?</h2>
            <h3>Te damos algumas ideias de segmento</h3>
        </div>  
    </div>
    
    <div class="index-content margin-top-30">
        <div class="photo-segment-content float-left margin-left-50">
            <img class="photo-segment" src="~/images/segmentos/book.jpg" />
            <label>Livros</label>
        </div>
        <div class="photo-segment-content margin-left-50 float-left">
            <img class="photo-segment" src="~/images/segmentos/clothes.jpg" />
            <label>Roupas</label>
        </div>
        <div class="photo-segment-content float-left margin-left-50">
            <img class="photo-segment" src="~/images/segmentos/disc.jpg" />
            <label>Discos</label>
        </div>
        <div class="photo-segment-content float-left margin-left-50">
            <img class="photo-segment" src="~/images/segmentos/drink.jpg" />
            <label>Bebidas</label>
        </div>
        <div class="photo-segment-content float-left margin-left-50">
            <img class="photo-segment" src="~/images/segmentos/game.jpg" />
            <label>Video Game</label>
        </div>
        <div class="photo-segment-content float-left margin-left-50">
            <img class="photo-segment" src="~/images/segmentos/questionMark.jpg" />
            <label>Use a imaginação</label>
        </div>
    </div>

    <div class="index-content font-primary margin-top-75 color-grey">
            <h2>2° -  Faça seu cadastro na WhatStore</h2>
            <h2>3° -  Cadastre seus produtos para começar a venda</h2>
        <h3>Em alguns minutos sua loja já estará disponível</h3>
            
    </div>
</body>
</html>

