@{
    Layout = null;
}

<html>
<head>
    <title>Página inicial</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
    <div class="navbar">
        <div class="logo-navbar float-left margin-left-30"></div>
        <div class="float-right margin-right-20">
            <a asp-controller="account" asp-action="login" class="btn-primary btn float-left margin-right-10">Login</a>
            <a asp-controller="account" asp-action="register" class="btn btn-secondary float-left hover-sweep-to-right">Cadastrar</a>
        </div>
    </div>
    <div class="index-header">
        <div class="background-pattern"></div>
        <div class="index-header-content">
            <div class="margin-left-100">
                <h1 style="font-size:50px !important">Crie sua loja virtual online.</h1>
                <h3>Não perca tempo! É simples e rápido. É só clicar em cadastrar</h3>
            </div>
        </div>
    </div>
</body>
</html>

