@{ 
    Layout = null;
}

<html>
<head>    
    <title>Página inicial</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>

<body>
    <div class = "body-index"> 
        <a asp-controller="account" asp-action="login">Login</a>
        <a asp-controller ="account" asp-action="register">Cadastrar</a>
        
    </div>
</body>
</html>

