@{ 
    Layout = null;
}

<html>
<head>
    
    <title>Página inicial</title>
</head>

<body>
    <div class = "body"> 
        <button type="button">Cadastrar</button>
        <button type="button">Login</button>
    </div>
</body>
</html>

