@{ 
    Layout = null;
}

<html>
<head>    
    <title>Página inicial</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
    <div>
        <img src="~/image/logos/logo-01.png" />
    </div>
    <div class = "body-index">        
            <a asp-controller="account" asp-action="login" class="btn-primary btn">Login</a>
            <a asp-controller="account" asp-action="register" class="btn btn-secondary">Cadastrar</a>             
    </div>
</body>
</html>

