@{
    Layout = null;
}
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* FONTE DO GOOGLE *@
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>
    <div class="logo-login margin-top-75 float-center"></div>

    <form id="formLogin" class="float-center margin-top-50">
        <div class=" margin-top-10">
            <label class="margin-left-20"> Digite seu email:</label>
            <input type="text" class="form-control margin-left-20" />
        </div>
        <div class="margin-top-10">
            <label class="margin-left-20">Digite sua senha:</label>
            <input type="text" class="form-control margin-left-20" />
        </div>
        <div class="row margin-top-10">
            <button type="submit" class="btn btn-primary margin-left-10 hover-from-center row">Entrar</button>
        </div>
    </form>
</body>

</html>