@{
    Layout = null;
}
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

</head>

<body>
    
    <form id="formLogin">
        <h3>Pagina de login:</h3>
        <div class="row">
            <label>Email:</label>
            <input type="text" />
        </div>
        <div class="row margin-top-10">   
            <label>Senha:</label>
            <input type="text" />
        </div>
        <div class="row margin-top-10">
            <button type="submit" class="row">Entrar</button>
        </div>
    </form>
</body>

</html>