@{
    Layout = null;
}
<html>

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    @* FONTE DO GOOGLE *@
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>

<body>

    <form id="formLogin" class="float-center margin-top-100">
        <div class="row margin-top-10">
            <label> Digite seu email:</label>
            <input type="text" class="form-control" />
        </div>
        <div class="row margin-top-10">
            <label>Digite sua senha:</label>
            <input type="text" class="form-control"/>
        </div>
        <div class="row margin-top-10">
            <button type="submit" style="width: 100px;" class="btn btn-primary float-center">Entrar</button>
        </div>
    </form>
</body>

</html>