@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Cadastro - WhatStore</title>
</head>

<body>
    <form id="formRegister" class="float-center">
        <div class="row margin-top-20">
            <h2>Cadastro</h2>
        </div> 
        
        <div class="row margin-top-10">
            <label>Nome: </label>
            <input type="text" />
        </div>
        <div class="row margin-top-10">
            <label>Sobrenome: </label>
            <input type="text" /> 
        </div>
        <div class="row margin-top-10">
            <label>RG: </label>
            <input type="text" />
        </div>
        <div class="row margin-top-10">
            <label>CPF: </label>
            <input type="text" />
        </div>
        <div class="row margin-top-10">
            <label>Data de nascimento: </label>
            <input type="datetime" name="date" />
        </div>
        <div class="row margin-top-10">
            <label>Genero: </label>
            <input type="radio" name="genero" value="feminino" />Feminino
            <input type="radio" name="genero" value="masculino" />Masculino
        </div>
        <div class="row margin-top-10">
            <label>Email: </label>
            <input type="text" />
        </div>
        <div class="row margin-top-10">
            <label>Senha: </label>
            <input type="password" />
        </div>
        <div class="row margin-top-10">
            <button type="submit">Registrar</button>
        </div>
    </form>
</body>
</html>