@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Cadastro - WhatStore</title>
</head>

<body>
    <form class="formRegister">
        <h1>Cadastro</h1>
        <div class="row">
            <label>Nome: </label>
            <input type="text" />
        </div>
        <div class="row">
            <label>Sobrenome: </label>
            <input type="text" />
        </div>
        <div class="row">
            <label>RG: </label>
            <input type="text" />
        </div>
        <div class="row">
            <label>CPF: </label>
            <input type="text" />
        </div>
        <div class="row">
            <label>Data de nascimento: </label>
            <input type="datetime" name="date" />
        </div>
        <div class="row">
            <label>Genero: </label>
            <input type="radio" name="genero" value="feminino" />Feminino
            <input type="radio" name="genero" value="masculino" />Masculino
        </div>
        <div class="row">
            <label>Email: </label>
            <input type="text" />
        </div>
        <div class="row">
            <label>Senha: </label>
            <input type="password" />
        </div>
        <div class="row">
            <button type="submit">Registrar</button>
        </div>


    </form>
</body>
</html>