@model WhatStore.Domain.Infrastructure.ViewModels.Account.RegisterUserViewModel

@{
    Layout = null;
}
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <title>Cadastro - WhatStore</title>
</head>

<body>
    <a asp-controller="home" asp-action="index"><div class="logo-register margin-top-75 float-center" asp-action="home"></div></a>

    <form class="formRegister formLogin float-center margin-top-20 margin-bottom-50" asp-controller="account" asp-action="register" method="post">

        <div class="row margin-top-10 font-size13">
            <label>Nome: </label>
            <input type="text" class="form-control" asp-for="Name" required />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Sobrenome: </label>
            <input type="text" class="form-control" required asp-for="LastName"  />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>RG: </label>
            <input type="text" class="form-control" required asp-for="RG"  />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>CPF: </label>
            <input type="text" class="form-control" required asp-for="CPF"/>
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Data de nascimento: </label>
            <input type="date" class="form-control" required asp-for="Birthday"  />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Genero: </label>
            <input type="radio" name="genero" value="true" />Feminino
            <input type="radio" name="genero" value="false" />Masculino
        </div>

        <div class="row margin-top-10 form-group">
            <label>Nome da Loja: </label>
            <input type="text" class="form-control" asp-for="StoreName" required/>
        </div>

        <div class="row margin-top10 form-group">
            <label>Tipos de Loja:</label>
            <select id="StoreTypeID" class="form-control" name="StoreTypeID">
                <option value="-1">Selecione um Tipo</option>
               @foreach (var storeType in Model.StoreTypes)
                {
                    <option value="@storeType.Id">@storeType.Name</option>
                }
            </select>
        </div>

        <div class="row margin-top-10 font-size13">
            <label>Email: </label>
            <input type="text" class="form-control" required asp-for="Email" />
        </div>
        <div class="row margin-top-10 font-size13">
            <label>Senha: </label>
            <input  type="password" class="form-control" required asp-for="Password" />
        </div>
        <div class="row margin-top-10 font-size13 ">
            <button type="submit" style="height: 40px !important;" class="btn btn-primary margin-bottom-20 row">Registrar</button>
        </div>
        <div class="row margin-top-10 font-size13">
            Já está cadastrado? <a asp-controller="account" asp-action="login" class="links hover-from-center">Clique aqui para entrar.</a>
        </div>
    </form>
</body>
</html>

@section Scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#dropStore');
        });

    </script>
}