@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>



</head>

<body>
    <div>
        <label>Email:</label>
        <input type="text" class="form-control" required />
    </div>


</body>

</html>