@model WhatStore.Domain.Infrastructure.ViewModels.Account.RegisterUserViewModel 
@{
    Layout = "_Store";
}

<html>
<head>



</head>

<body>
    <div>
        <label>Email:</label>
        <input type="text" class="form-control" required />
    </div>


</body>

</html>